pdfminer3
pyresparser
streamlit
pandas
pdfminer.six
streamlit-tags
pafy
plotly
pymysql
streamlit-tags
Pillows
nltk
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz